.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  
  width: 72px;
}

.sidebar-link{
  
  background-color: blue;
  height: 72px;

}

.sidebar-link:hover{
  background-color: lightgray;
}