

.mod{
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 15px;
}


.order{
  text-align: center;
  font-family: Montserrat;
  margin-top: 0px;
  font-size: 30px;
}

.span{
  text-decoration: underline;
}